<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3 class="text-center my-4">Search for Weather:</h3>
      <form
        [formGroup]="weatherSearchForm"
        (ngSubmit)="sendToAPIXU(weatherSearchForm.value)"
      >
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            id="weatherLocation"
            aria-describedby="weatherLocation"
            placeholder="Please input a Location"
            formControlName="location"
          />
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-success btn-md">
            Search for the weather
          </button>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <h3 class="text-center my-4">Weather Details:</h3>
      <p class="text-center">
        <strong>Current weather condition is:</strong>
        {{ this.weatherData?.current.weather_descriptions[0] }}
      </p>
      <p class="text-center">
        <strong>Temperature:</strong>
         {{ this.weatherData ? this.weatherData?.current.temperature + ' °C' : ' '}} 
      </p>
      <p class="text-center">
        <strong>Pressure:</strong> {{ this.weatherData ? this.weatherData?.current.pressure + ' MB' : ' '}}
      </p>
      <p class="text-center">
        <strong>Precipitation:</strong>
        {{ this.weatherData ? this.weatherData?.current.precip + ' mm' : ' '}}
      </p>
      <p class="text-center">
        <strong>Wind Speed:</strong>
        {{this.weatherData ? this.weatherData?.current.wind_speed + ' km/h' : ' '}} 
      </p>
      <p class="text-center">
        <strong>Air Humidity:</strong>
        {{ this.weatherData ? this.weatherData?.current.humidity + ' %' : ' '}}
      </p>
      <p class="text-center">
        <strong>Location Searched:</strong> {{ this.weatherData?.location.name }}
        {{ this.weatherData?.location.country }}
      </p>
    </div>
  </div>
</div>
